* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Helvetica  Neue, Arial;
    font-size: 18px;
}

h1, h2 {
    color:#1fe6c0;
}

h1 {
    font-size: 40px;
    font-family: Helvetica  Neue, Arial;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    font-family: cursive;
    margin-bottom: 10px;
}

.main-text {
    
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px;
    float:left;
    margin-top: 30px;
    margin-left: 10px;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin: 20px auto 0 auto;
}

.blog-post {
    background-color:#0000ff;
    width: 75%;
    float: left;
    padding-right: 30px;
    position:relative;
}

.blog-post img {
    height: 150px;
    width: auto;

}

.other-posts {
    background-color: #00ff00;
    width: 25%;
    float: left;
}

.author-box {
    background-color: #ffff00;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.author-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

.other {
    margin-bottom: 40px;
}


.date {
    position: absolute;
    top: 10;
    right:0;
}
